/* Global Styles */
:root {
  --primary-color: #182978;
  --secondary-color: #6688cc;
  --third-color: #acbfe6;
  /* --fourth-color: #acbfe6; */
  --dark-color: #525252;
  --light-color: #e2e2e2;
  --danger-color: #e7505f;
  --success-color: #459458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  background-color: white;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

i {
  margin-right: 10px;
}

/* Utilities */
.big-container {
  /* max-width: 1600px; */
  width: 100%;
  margin: auto;
  /* margin-top: 0rem; */
  padding-top: 40px;
  overflow: hidden;
  /* padding: 0 2rem; */
}

#about-container {
  /* padding: 25px 0px 20px 0px; */
  margin-top: 20px;
  margin-left: 15px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: var(--secondary-color) 1px dotted;
  margin: 0.7rem 0;
  box-shadow: -3px 3px 4px rgb(190, 190, 190);
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.btn-third,
.bg-third,
.badge-third,
.alert-third {
  background: var(--third-color);
  color: var(--primary-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
  color: var(--primary-color);
  background-color: var(--third-color);
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */

form {
  margin: 4rem 0 1.2rem 0;
}
input {
  margin-top: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 1;
  margin-bottom: 1rem;
}

.app-logo {
  height: 70px;
  width: auto;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: -13px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  bottom: 0;
  position: fixed;
  flex-shrink: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.96;
  margin-top: 5rem;
}

.footer ul {
  display: flex;
  padding: 0px 15px 0px 15px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.footer a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.footer a:hover {
  color: var(--light-color);
}

.footer .welcome span {
  margin-right: 0.6rem;
}

.users-container {
  display: "grid";
  grid-template-columns: "repeat(3, 1fr)";
  grid-gap: "1rem";
}

/* STYLES FROM NEAT.ME */

#hero-big-container {
  background-color: wheat;
}
.welcome-hero {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  height: 28vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 0px;
  /* background: url("/images/developer3.jpg") no-repeat center top; */
  background-color: wheat;
  background-size: cover;
}

#high-hero {
  padding-top: 50px;
  background-color: wheat;
}

/* @media screen and (max-width: 800px) {
  .boxes {
    display: "grid",
    gridTemplateColumns: "repeat(2, 1fr)",
    gridGap: "1rem",
}; */

/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    margin-bottom: -10px;
    margin-top: -10px;
  }

  form {
    margin: 6rem 0 1.2rem 0;
  }
}

#about-container {
  margin-top: 80px;
}

.userpage-container {
  margin: 70px 15px 70px 15px;
}

.users-container {
  margin: 70px 15px 70px 15px;
}

#users-inside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (min-width: 700px) and (max-width: 870px) {
  #footer-li {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .userpage-container {
    margin: 90px 15px 60px 15px;
  }

  .users-container {
    margin: 90px 15px 60px 15px;
  }

  #users-inside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #users-inside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

/* @media (min-width: 750px) {
  .welcome-hero {
    height: 35vh;
    background-size: cover;
    padding-top: 10px;
    background: url("/images/developer3.jpg") no-repeat center -110px;
    background-size: auto;
  }
} */
